<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <%- include ../partials/header %>
    </header>
    <div class="row">
        <div class="col-sm-2">
            <%- include ../partials/navbar %>
        </div>
        <div class="col-sm-10">
            <main>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>
                            <p> </p>
                        </th>
                        <th>Rule</th>
                        <th>
                            <p> </p>
                        </th>
                        <th>Owner</th>
                    </tr>
                    <% clists.forEach(function(clist) { %>
                    <tr>
                        <td>
                            <%= clist.name%>
                        </td>
                        <td>
                            <p> </p>
                        </td>
                        <td>
                            <%= clist.rule%>
                        </td>
                        <td>
                            <p> </p>
                        </td>
                        <td>
                            <%= clist.owner%>
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </main>
        </div>
    </div>
    <footer>
        <%- include ../partials/footer %>
    </footer>

</body>

</html>