<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <%- include ../partials/head %>
    <style>
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 3px;
        }

        .col1 {
            float: left;
            width: 25%;
            padding: 10px;
            height: 300px;
        }

        .col2 {
            float: left;
            width: 75%;
            padding: 10px;
            height: 300px;
        }
    </style>
</head>

<body class="container-fluid">
    <header>
        <%- include ../partials/header %>
    </header>
    <div class="rows">
        <div class="col-sm-2" style="margin-left: -1%;">
            <%- include ../partials/navbar %>
        </div>
        <div class="col-sm-10" style="background-color: whitesmoke;height:100;">
            <main style="margin-top:1%;margin-bottom: -1%;">
                <div class="col-sm-12">
                    <div class="row cols-sm-12">
                        <div class="col cols-sm-2"><img src="/images/default.jpg" class=" rounded img-thumbnail float-left"
                                height="150" width="150"></div>
                        <div class='col cols-sm-6' align="left">
                            <p style="font-size: 16px">
                                <h1>
                                    <%=comm.name%>
                                </h1>
                            </p>
                        </div>
                        <div class="container col cols-sm-5">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Wide
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a href="#">Discussions</a></li>
                                    <li><a href="/communitymembers/manage/role<%=comm._id%>">Manage Community</a></li>
                                    <li><a href="/communityprofile/<%=comm._id%>">Community Profile</a></li>
                                    <li><a href="/communitymembers/user/<%=comm._id%>">Community Members</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col1">
                            <div class="panel panel-default">
                                <div class="panel-heading">Members
                                    <% if (mem==1) { %><a href="/communitymembers/user/<%=comm._id%>" style="float:right;">view
                                        all</a>
                                    <% } %>
                                </div>
                                <div class="panel-body">
                                    <center>
                                        <% if (mem==0) { %>
                                        <% if (comm.rule==='Direct') { %>
                                        <div class="col-sm-4">
                                            <form method="post" action="/joincommunity/<%=comm._id%>">
                                                <input type="submit" class="btn btn-primary" id="<%= comm._Id%>" value="Join">
                                            </form>
                                        </div>
                                        <% } %>
                                        <% if (comm.rule==='Permission') { %>
                                        <div class="col-sm-4">
                                            <form method="post" action="/asktojoincommunity/<%=comm._id%>">
                                                <input type="submit" class="btn btn-primary" id="<%= comm._Id%>" value="Ask to Join">
                                            </form>
                                        </div>
                                        <% } %>
                                        <% } %>

                                        <% if (mem==2) { %>
                                        <div class="col-sm-4" align="right">
                                            <form method="post" action="/cancelrequest/<%=comm._id%>">
                                                <input type="submit" class="btn btn-primary" id="<%= comm._Id%>" value="Cancel Request">
                                            </form>
                                        </div>
                                        <% } %>
                                    </center>
                                    <% if (mem==1) { %>
                                    <% if (ulists) { %>
                                    <% ulists.forEach(function(ulist) { %>
                                    <img src="/images/default.jpg" class="rounded-circle img-thumbnail" height="25%"
                                        width="20%">
                                    <% }); %>
                                    <% } %>
                                    <% } %>
                                </div>
                                <div class="panel-footer">
                                    <%=ulistmem%> Members</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Community Admins</div>
                                <div class="panel-body">
                                    <% if (olists) { %>
                                    <p style="float: center;">
                                        <img src="/images/default.jpg" class="rounded-circle img-thumbnail" height="25%"
                                            width="20%">
                                        <%=olists.email%>
                                        <span class="label label-success">Owner</span><br>
                                    </p>
                                    <% } %>
                                    <% if (alists) { %>
                                    <% alists.forEach(function(alist) { %>
                                    <img src="/images/default.jpg" class="rounded-circle img-thumbnail" height="25%"
                                        width="20%">
                                    <%=alist.email%>
                                    <span class="label label-success">Admin</span><br>
                                    <% }); %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col2">
                            <div class="panel panel-default">
                                <div class="panel-heading" align="center">About Community</div>
                                <div class="panel-body" align="center">
                                    <%=comm.description%>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" align="center">Public Discussions</div>
                                <div class="panel-body" align="center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer>
            <%- include ../partials/footer %>
        </footer>

</body>

</html>