<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
</head>

<body class="container-fluid" style="padding: 0%;">
    <header>
        <%- include ../partials/header %>
    </header>
    <div class="row col-sm-12">
        <div class="col-sm-2">
            <%- include ../partials/navbar %>
        </div>
        <div class="col-sm-8 container" style="margin-top:-2%;">
            <main class="col-sm-12">
                <div class="container col-sm-10" style="margin-top: 1%;background-color:whitesmoke;">
                    <div align="center">
                        <p style="padding: 0%;font-size: 34px;">Update User Profile</p>
                        <p>
                            <% if (smsg) { %>
                            <strong class="alert alert-success">
                                <%=smsg%></strong><br>
                            <% } %>
                        </p>
                    </div>
                    <div class="responsive-login-form allSides col-sm-12" style="height : auto">
                        <div class="col-sm-12">
                            <form method="post" action="/updateuser">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Basic Info</div>
                                    <div class="panel-body">
                                        <label>Email:<input disabled class="form-control col-sm-12" value="<%=user.email%>"></label>
                                        <label style="float:right;">Role:<input disabled class="form-control col-sm-12"
                                                value="<%=user.role%>"></label>
                                        <label>Name:<input type="text" name="name" class="form-control col-sm-12" value="<%=user.name%>"></label>
                                        <label style="float:right;">D.O.B:<input type="text" name="dob" class="form-control col-sm-12"
                                                value="<%=user.dob%>"></label>
                                        <label>Gender:<input type="text" name="gender" class="form-control col-sm-12"
                                                value="<%=user.gender%>"></label>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Contact Info</div>
                                    <div class="panel-body">
                                        <label>Phone:<input type="text" name="phone" class="form-control" value="<%=user.phone%>"></label>
                                        <label style="float:right;">City:<input type="text" name="city" class="form-control col-sm-12"
                                                value="<%=user.city%>"></label>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Personal Info</div>
                                    <div class="panel-body">
                                        <label>Interset:<input type="text" name="interest" class="form-control col-sm-12"
                                                value="<%=user.interest%>"></label><br>
                                        <label>Journey:<input type="text" name="city" class="form-control col-sm-12"
                                                value="<%user.journey%>"><br />
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <input class="btn btn-success" type='submit' value='Submit' />
                                    <a class="btn btn-danger" href='/updateuser'>Cancel</a>
                                    <a href="/changepassword" class="btn btn-warning" role="button" style="float:right;">Change
                                        Password</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <footer>
        <%- include ../partials/footer %>
    </footer>

</body>

</html>