<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <%- include ../partials/header %>
    </header>
    <div class="row">
        <div class="col-sm-2">
            <%- include ../partials/navbar %>
        </div>
        <div class="col-sm-10">
            <main>
                <table>
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Gender</th>
                    </tr>
                    <% ulists.forEach(function(ulist) { %>
                    <tr>
                        <td>
                            <%= ulist.email%>
                        </td>
                        <td>
                            <%= ulist.name%>
                        </td>
                        <td>
                            <%= ulist.role%>
                        </td>
                        <td>
                            <%= ulist.active%>
                        </td>
                        <td>
                            <%= ulist.gender%>
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </main>
        </div>
    </div>
    <footer>
        <%- include ../partials/footer %>
    </footer>

</body>

</html>